@font-face {
  font-family: 'got';
  src: local('got'), url('assets/fonts/got.ttf') format('truetype');
}

@font-face {
  font-family: 'got1';
  src: local('got'), url('assets/fonts/got1.ttf') format('truetype');
}

@font-face {
  font-family: 'got01';
  src: local('got01'), url('assets/fonts/got01.ttf') format('truetype');
}

@font-face {
  font-family: 'got6';
  src: local('got6'), url(assets/fonts/got6.ttf) format('truetype');
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

